<div id="pickandplace_move_head">
    <input id="move-length" type="range" class="form-range" min="-1" max="2" step=".001" data-bind="value: moveLengthInput, valueUpdate: 'input'">
    <p data-bind="text: moveLength()"></p>

    <div>
        <button class="btn box" data-bind="click: moveYInc"><i class="fas fa-arrow-up"></i></button>
    </div>
    <div>
        <button class="btn box" data-bind="click: moveXDec"><i class="fas fa-arrow-left"></i></button>
        <button class="btn box" data-bind="click: moveXInc"><i class="fas fa-arrow-right"></i></button>
    </div>
    <div>
        <button class="btn box" data-bind="click: moveYDec"><i class="fas fa-arrow-down"></i></button>
    </div>
    <div>
        <button class="btn box" data-bind="click: moveZInc"><i class="fas fa-arrow-up"></i></button>
        <button class="btn box" data-bind="click: moveZDec"><i class="fas fa-arrow-down"></i></button>
    </div>
</div>
