<form class="form-horizontal">
    <div class="accordion" id="accordion">


    <!-- Camera settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#cameras-settings"><h3>Cameras</h3></a>
            </div>
            <div id="cameras-settings" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">

                    <div class="accordion-cameras" id="accordion">
                    <!-- Bed camera settings -->
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-cameras" href="#bed-camera-settings"><h4>Bed camera</h4></a>
                            </div>
                            <div id="bed-camera-settings" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <h5>Device</h5>
                                    <div class="row-fluid">
                                        <label class="control-label">Device</label>
                                        <div class="controls">
                                            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.device">
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Width (px)</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.width">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Height (px)</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.height">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Rotation</label>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" name="bedCameraRotation" value="NO" data-bind="checked: settings.settings.plugins.pickandplace.cameras.bed.rotation">
                                                No rotation
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="bedCameraRotation" value="CLOCKWISE" data-bind="checked: settings.settings.plugins.pickandplace.cameras.bed.rotation">
                                                90° clockwise
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="bedCameraRotation" value="COUNTERCLOCKWISE" data-bind="checked: settings.settings.plugins.pickandplace.cameras.bed.rotation">
                                                90° counter-clockwise
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="bedCameraRotation" value="HALF_TURN" data-bind="checked: settings.settings.plugins.pickandplace.cameras.bed.rotation">
                                                180°
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Flip</label>
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" name="bedCameraRotation" data-bind="checked: settings.settings.plugins.pickandplace.cameras.bed.flip_x">
                                                Flip width
                                            </label>
                                        </div>
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" name="bedCameraRotation" data-bind="checked: settings.settings.plugins.pickandplace.cameras.bed.flip_y">
                                                Flip height
                                            </label>
                                        </div>
                                    </div>

                                    <h5>Position</h5>
                                    <p>Center the needle on the red line. Make sure the tip of the needle is in focus. This will be used for auto-calibration.</p>
                                    <canvas id="canvas-calibration-camera-bed"></canvas>
                                    {% include 'move_head.jinja2' %}
                                    <button class="btn box" data-bind="click: goToCalibratedBed"><i class="fas fa-home"></i></button>
                                    <button class="btn btn-primary" data-bind="click: calibrateBedCamera">Auto-calibrate</button>
                                    <div class="row-fluid">
                                        <label class="control-label">Focus Z</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.focus_z">
                                                <span class="add-on">mm</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <label class="control-label">Needle center camera delta X</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.camera_delta_x">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Needle center camera delta Y</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.camera_delta_y">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Needle printer X</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.printer_x">
                                                <span class="add-on">mm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Needle printer Y</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.printer_y">
                                                <span class="add-on">mm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Pixel per mm</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.mm_per_pixel">
                                                <span class="add-on">mm/px</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-cameras" href="#head-camera-settings"><h4>Head camera</h4></a>
                            </div>
                            <div id="head-camera-settings" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <h5>Device</h5>
                                    <div class="row-fluid">
                                        <label class="control-label">Device</label>
                                        <div class="controls">
                                            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.pickandplace.cameras.head.device">
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Width (px)</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" data-bind="value: settings.settings.plugins.pickandplace.cameras.head.width">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Height (px)</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" data-bind="value: settings.settings.plugins.pickandplace.cameras.head.height">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Rotation</label>
                                        <div class="controls">
                                            <label class="radio">
                                                <input type="radio" name="headCameraRotation" value="NO" data-bind="checked: settings.settings.plugins.pickandplace.cameras.head.rotation">
                                                No rotation
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="headCameraRotation" value="CLOCKWISE" data-bind="checked: settings.settings.plugins.pickandplace.cameras.head.rotation">
                                                90° clockwise
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="headCameraRotation" value="COUNTERCLOCKWISE" data-bind="checked: settings.settings.plugins.pickandplace.cameras.head.rotation">
                                                90° counter-clockwise
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="headCameraRotation" value="HALF_TURN" data-bind="checked: settings.settings.plugins.pickandplace.cameras.head.rotation">
                                                180°
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Flip</label>
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" name="headFlipX" data-bind="checked: settings.settings.plugins.pickandplace.cameras.head.flip_x">
                                                Flip width
                                            </label>
                                        </div>
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" name="headFlipY" data-bind="checked: settings.settings.plugins.pickandplace.cameras.head.flip_y">
                                                Flip height
                                            </label>
                                        </div>
                                    </div>
                                    <h5>Position</h5>
                                    <p>
                                        Color the needle with a sharpy. Lower the needle until it touch a piece of paper on the bed.
                                        Then click "Mark position as needle".
                                        Then align as close as possible the circle on the bed with the sharpy mark for auto-calibration.
                                    </p>
                                    <canvas id="canvas-calibration-camera-head"></canvas>
                                    {% include 'move_head.jinja2' %}
                                    <button class="btn box" data-bind="click: goToCalibratedHead"><i class="fas fa-home"></i></button>
                                    <button class="btn btn-primary" data-bind="click: markMadeHeadCamera">Mark position as needle</button>
                                    <button class="btn btn-primary" data-bind="click: calibrateHeadCamera">Auto-calibrate</button>
                                    <div class="row-fluid">
                                        <label class="control-label">Needle center camera delta X</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.camera_delta_x">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Needle center camera delta Y</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.camera_delta_y">
                                                <span class="add-on">px</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Needle printer X</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.printer_x">
                                                <span class="add-on">mm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Needle printer Y</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.printer_y">
                                                <span class="add-on">mm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="control-label">Pixel per mm</label>
                                        <div class="controls">
                                            <div class="input-append">
                                                <input type="number" class="input-block-level" disabled data-bind="value: settings.settings.plugins.pickandplace.cameras.bed.mm_per_pixel">
                                                <span class="add-on">mm/px</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
