<a href="https://en.wikipedia.org/wiki/Hello_world">Hello World!</a>

<button id="vacuum-on-btn" class="btn" data-bind="click: vacuumOn">Start vacuum</button>
<button id="vacuum-off-btn" class="btn" data-bind="click: vacuumOff">Stop vacuum</button>

<label for="head-angle-input">Head angle</label>
<input id="head-angle-input" type="number" min="-190" max="190" data-bind="value: headAngle">
<button class="btn" data-bind="click: headRotate">Turn head</button>

<label for="move-length">Move</label>
<button class="btn" data-bind="click: nextStage">Next</button>

<div data-bind="visible: processStage()==0">
    <h3>Align component</h3>
    <p>Move until the component you want to pick up is at the center of the cross.</p>
</div>
<div data-bind="visible: processStage()==1">
    <h3>Align component</h3>
    <p>Move until the component you want to place aligned with its footprint.</p>
</div>
<div data-bind="visible: processStage()==2">
    <h3>Verify component</h3>
    <p>Verify the placement of the component.</p>
</div>


<canvas id="display-canvas"></canvas>
